[main]
# System token that is not used for checkout but crawling for DB refreshes
snipeit_system_token = "ASDF"
# URL of snipeit to communicate with
snipeit_url = "https://inventory.seemoo.tu-darmstadt.de"
# webserver listen IP
listen_ip = "127.0.0.1"
# webserver listen port
listen_port = 8000

#unused
admin_user = ""
admin_password = ""

# cookie encryption key, changing invalidates all sessions
# should be > 32 bytes,. otherwise will be 0 padded
session_encryption_key = "42"
# set to true to allow only HTTPS access with session cookies
session_secure = false
# time the auto-login token is valid, seconds
autologin_token_ttl = 60

# fieldset to be added to every group
default_fieldset = "Default"
# time in seconds untill next indexing refresh
indexing_refresh_seconds = 1200

[db]
ip = "127.0.0.1"
user = "root"
password = "root"
name = "HardWhere"