[Unit]
Description=HardWhere daemon
After=network-online.target
Wants=network-online.target
Requires=mariadb.service

[Service]
Type=simple
ExecStart=/home/hardwhere/HardWhere-backend
WorkingDirectory=/home/hardwhere/
Nice=0
Restart=always
User=hardwhere
Group=hardwhere

[Install]
WantedBy=multi-user.target
 
