[Unit]
Description=HardWhere daemon
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/home/HardWhere/HardWhere-backend
WorkingDirectory=/home/HardWhere/
Nice=0
Restart=always
User=HardWhere
Group=HardWhere

[Install]
WantedBy=multi-user.target
 
