<!DOCTYPE html>
<html>

<head>
    <title>Assets of {{user}}</title>
</head>

<body>
    <h1>Assets lent by you ({{user}})</h1>
    <table>
        <tr>
            <th></th>
            <th>Asset</th>
            <th>Lent to</th>
          </tr>
        {{#each assets}}
          <tr>
            <td><a href="{{../url_base}}/hardware/{{id}}">Link</a></td>
            <td>{{asset_tag}}</td>
            <td>{{assigned_to.username}}</td>
          </tr>
        {{/each}}
    </table>
    <a href="/HardWhere/logout">Logout</a>
</body>
</html>
