<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Invalid Login</title>
</head>

<body>
    <h1>Invalid login token</h1>
    The automatic login token wasn't found or expired.

    Please go to <a href="{{login_page}}/account/api">your API settings</a> to login to this service.

    <p>{{error_msg}}</p>
    <p>Or enter your API login token here.</p>
    <form method="post" action="/HardWhere/login">
        <input type="password" placeholder="API Key" name="api_key" />
        <input type="submit" value="Login">
    </form>
</body>
</html>
