<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <link href="static/bootstrap.min.css" rel="stylesheet">
    <link href="static/colors.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="static/css.css">
    <title>Login</title>
</head>

<body>
    <nav class="navbar navbar-dark navbar-background">
        <div class="container-fluid">
          <div class="header-font navbar-font">
            <img class="navbar-brand-img" src="https://inventory.seemoo.tu-darmstadt.de/uploads/logo.png" alt="Inventory logo"> HardWhere
          </div>
          <div class="btn-group">
            <ul class="nav justify-content-end">
              <li class="nav-item"><a class="nav-link navbar-font navbar-button" href="/"><i class="bi bi-box-arrow-left"></i> Back to Inventory</a></li>
            </ul>
          </div>
        </div>
      </nav>
    <h2>It seems like your API Token is invalid or your session timed out, please go to <a href="{{login_page}}/account/api">your API settings</a> to login to this service.</h2>

    <p>{{error_msg}}</p>
    <p>Or enter your API login token here.</p>
    <form method="post" action="/HardWhere/login">
        <input type="password" placeholder="API Key" name="api_key" />
        <input type="submit" value="Login">
    </form>
</body>
</html>
